
@{
    ViewData["Title"] = "Dog";
}

<h1>Dog!</h1>
<h2>Puppies, old dogs, fictional dogs are all accepted!</h2>
<p>Tell me all about your dog by emailing or calling</p>

<strong>No cats please!</strong>

